
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 800px;
}
section {
    padding: 0 1em .5em;
}
h1 {
	margin: .5em 0;
}
label {
	float: left;
    width: 10em;
    text-align: right;
    padding-bottom: .5em;
}
input {
    margin-left: 1em;
    margin-bottom: .5em;
}
#error {
    color: red;
    font-size: 10px;
}
